.cond-selector {
    width: 144px;
    height: 256px;
    background: #333333;
    z-index: 1;
    border: 1px solid black;
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    left: 0px;
    top: 100px;
    outline: none;
}

.cond-selector > div {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: block;
    justify-items: left;
}

.cond-selector .condition {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background: #5E5E5E;
    color: white;
    margin-top: 10px;
    padding: 5px;
}

.condition .editcontent{
    color: #F8BA00;
    margin-top: 5px;
    padding-left: 5px;
    outline: none;
    border: 1px solid #E0E0E0;

}

.cond-selector .condition.edited{
    width: 120px;
    height: 70px;
    background-color: #8D8D8D;
}

.cond-selector .condition:hover:not(.selected) {
    background: #999999;
}

.cond-selector .condition.selected  {
    border: 1px solid #cc9933;
}