path.transition {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

g.state circle{
    fill: #999999;
    stroke: black;
    stroke-width: 1px;
}

g.state text {
    transform: translate(0, 5px);
}

/*
g.state:hover circle{
    fill: rgb(200, 238, 241);
}*/

g.selected circle {
    stroke: rgb(227, 177, 26);
    stroke-width: 2px;
    transform: scale(1.05);
}
g.selected text {
    fill: white;
}

path.transition {
    fill: none;
    stroke: #999999;
    stroke-width: 6px;
    cursor: default;
}
/*
path.transition:hover{
    stroke: rgb(94, 196, 204);
}
*/
path.selected {
    stroke: rgb(227, 177, 26);
}

path.link.hidden{
    stroke-width: 0;
}

path.dragline {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}